.sectionHouse{
    min-height: 60dvh;
    width: 100%;
    padding-top: 13dvh;
    
}
.containerHouse{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 30px;

    h1{
        text-align: center;
        margin-bottom: 30px;
        font-size: 2rem;
        font-family: 'Poppins', sans-serif;
        font-weight: bolder;
    }
}



.imgCards{
    width: 250px;
    position: relative;

    img{
        width: 100%;
        height: 180px;
        border-radius: 20px;
    }
}

.containerCards{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 30px;
    overflow: hidden;
    
}

.cards{
    padding: 10px 10px 25px 10px;
    background-color: #193559;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(0.8); /* Diminui o tamanho dos cards */
    gap: 20px;
    max-width: 250px;
    text-align: center;

    transition: transform 0.5s ease, opacity 0.5s ease;
    margin-top: 50px;
    margin-bottom: 30px;
}

.disabledCard{
    pointer-events: none; /* Desabilita a interação com o card */
    opacity: 0.6;
}

.activeCard {
    transform: scale(1); /* Aumenta o tamanho do card ativo */
    opacity: 1; /* Deixa o card ativo mais visível */
    z-index: 10;
}


.containerHover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    opacity: 0;
    transition: all 0.5s;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    color: var(--white-imobi);
}

.imgCards:hover .containerHover{
    opacity: 1;
}

.containerLocalHouse{
    margin-top: 20px;
    
    h2{
        font-size: 1.2rem;
        font-family: 'Poppins', sans-serif;
        font-weight: bolder;
        color: var(--white-imobi);
    }
}

.containerBtnHouse{
    margin-top: 40px;
}

